html,body {
    height: 100vh;
  }

  .minHeight {
    min-height: 59px;
  }
  .h-33 {
    height: 33%!important;
  }

  .cartTitle {
    font-size: 2em;
    font-weight: bold;
  }
  .cardValueLegend {
    font-size: 1em;
    font-weight: bold;
  }
  .cardValue {
    font-size: 1.8em;
    font-weight: bold;
  }

  .cardValueLegendSmall {
    font-size: 1em;
    font-weight: lighter;
  }

  .bg-none {
    background-color: transparent !important;
  }
  .hidden {
    display: none !important;
  }

  #installContainer {
    z-index: 9999;
    background-color: #606060FF;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px; 
    margin: 0 auto;
    text-align: center;
  }

  #installContainer #buttonInstall {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #ADEFD1FF;
    font-size: 1.1em;
    padding: 1.75em;
    font-weight: bold;
  }


  .close {
    position: absolute;
    left: 12px;
    top: 38px;
    width: 7px;
    height: 7px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 12px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: rgb(218, 214, 214);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .completeCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }